nav{
	background-color: red;
	min-height: 4em;
	padding-left: 4em;
}

body{
	background-color: blue;
}

footer{
	background-color: green;
	min-height: 6em;
}

/*Classes*/
.mainContent{
	background-color: white;
	width: 90%;
	margin: 0 auto;
	padding: 0.5em;
	min-height: 50em;
}
