nav{
	
}

nav a{
	text-decoration: none;
	color: black;
}

body{
	background-color: #f1f0ee;
	margin: 0 auto;
}

footer{	
	min-height: 6em;
	width: 81%;
	margin: 0 auto;
	border: 3px;
	border-color: #b11a21;
	border-style: solid solid none solid;
	border-radius: 50px 50px 0 0;
	padding-top: 2em;
	text-align: center;
	background-color: #f1f0ee;
}

/*Classes*/
.trueNav{
	background-color: #b11a21;
	/*
	background-image: url("Images/Gradient.png");
	background-repeat: no-repeat;
	background-size: 100%;
	*/
	min-height: 3em;
	padding-top: 0.55em;
	padding-left: 4em;
	color: #000000;
	width: 86.5%;
	border-radius: 0 50px 50px 0;
	clear:left;
}

.nameAndImage{
	
}

.mainContent{
	background-color: #e7e7e7;
	width: 74%;
	margin: 0 auto;
	padding: 0.5em;
	min-height: 50em;
	border-left: 3px solid;
	border-color: #b11a21;;
}

.internalContainer{
	padding: 0.5em 2em;
}

.rectangularButton{
	background-color: white;
	margin: 2em;
	padding: 0.4em 2.5em;	
	border-radius: 20px;
	font-size: 20px;
}

/*Images*/
.headerLogo{
	width: 10%;
	height: 10%;
	float: left;
}
