nav{
	min-height: 5em;
	background-color: #e7e7e7;
	width: 100%;
}

nav a{
	text-decoration: none;
	color: black;
}

body{
	background-color: #f1f0ee;
	margin: 0 auto;
}

footer{	
	min-height: 6em;
	margin: 0 auto;
	padding-top: 2em;
	text-align: center;
	background-color: #e7e7e7;
}

/*Classes*/
.aboveNav{
	background-color: #b11a21;
	/*
	background-image: url("Images/Gradient.png");
	background-repeat: no-repeat;
	background-size: 100%;
	*/
	min-height: 0.15em;
	padding-top: 0.55em;
	padding-left: 4em;
}

.belowFoot{
	background-color: #b11a21;
	/*
	background-image: url("Images/Gradient.png");
	background-repeat: no-repeat;
	background-size: 100%;
	*/
	min-height: 0.15em;
	padding-top: 0.55em;
	padding-left: 4em;
}

.mainContent{
	background-color: #f1f0ee;
	width: 74%;
	margin: 0 auto;
	padding: 0.5em;
	min-height: 50em;
	border-left: 3px solid;
	border-color: #b11a21;;
}

.leftContent{
	float: left;
	padding: 0.5em;
}

.navInternalContainer{
	padding: 1.25em 2em;
	float: right;
}

.rectangularButton{
	background-color: white;
	margin: 0.8em;
	padding: 0.2em 2em;	
	border-radius: 20px;
	font-size: 24px;
	
}

.clearFloat{
	clear: right;
}

/*Images*/
.headerLogo{
	padding-left: 1em;
	width: 4%;
	height: 4%;
	float: left;
}
