/* Standard page elements */
nav
{
	background-color: rgba(255, 255, 255, 0.90);
	border-top: #b11a21 2px solid;
	border-bottom: #b11a21 2px solid;
	border-radius: -20px 0 0 0;
}

body
{
	min-height: 3em;	
	margin: 0 auto;
	width: 100%;
	font-family: Georgia, Arial;
}

main
{
	
}

footer
{
	min-height: 6em;
	border-top: #b11a21 2px solid;
	border-radius: 30px 30px 0 0;
	background-color: rgba(241, 240, 238, 1);	
	margin-top: -2em;
	text-align: center;
	padding-top: 3em;
}

/*  Custom page elements */
/* Listed in order of appearance on page */
.mainBackgroundImage
{
	min-height: 120em;
	background-image: url("Images/ToccoaFalls.JPG");
	background-repeat: no-repeat;
	background-size: cover;
}

.aboveNav
{
	min-height: 14em;
}

.rectangularButton{
	background-color: #f1f0ee;
	border: #f1f0ee solid;
	margin: 0.5em 0.25em;
	padding: 0.2em 1.9em;	
	border-radius: 10px;
	font-size: 24px;	
	cursor: pointer;
	min-width: 10em;
}

.rectangularButton:hover{
	border: #b11a21 solid;
}

.rectangularButton a{
	text-decoration: none;
	color: #000000;
}

.mainContentArea
{
	background-color: rgba(255, 255, 255, 0.40);
	min-height: 50em;
	width: 100%;	
	padding-top: 1em;
	padding-bottom: 1em;
}

.introductoryText1st
{
	font-size: 42pt;
	padding-left: 0.5em;
	padding-top: 0.5em;
}

.introductoryText
{
	font-size: 24pt;
	padding-left: 0.5em;
	padding-top: 0.5em;
}

.topInternalContentArea
{
	background-color: rgba(224, 224, 224, 0.90);
	border-radius: 0 30px 30px 0;
	margin-top: 2em;
	width: 90%;
	padding: 1em;	
	font-size: 12px;
	font-weight: bold;
}

.midInternalContentArea
{	
	background-color: rgba(224, 224, 224, 0.90);
	border-radius: 30px;
	min-height: 20em;
	width: 80%;
	margin: 1em auto;
	padding: 1em;
}

.bottomInternalContentArea
{
	background-color: rgba(224, 224, 224, 0.90);
	border-radius: 0 30px 30px 0;
	min-height: 20em;
	margin-bottom: 2em;
	width: 90%;
	padding: 1em;
}

.secondaryContentArea
{
	min-height: 50em;
	border-top: #b11a21 2px solid;
	background-color: rgba(241, 240, 238, 1);
}

.indexEndingSection
{
	padding-left: 1em;
	padding-top: 1em;
	font-size: 14pt;
}

.embeddedResume
{
	height: 75em;
	width: 100%;
	border: solid rgba(0, 0, 0, 0);
	border-radius: 2em;
	margin: 0 auto;
}

.somewhatHiddenLink
{
	color: #b11a21;
	text-decoration: none;
	font-weight: bold;
}

/* Helpers */

.redText
{
	color: #b11a21;
}

.redUnderline
{
	text-decoration: underline;
	text-decoration-color: #b11a21;
}

.customh1
{
	font-size: 4em;
}

.customh2
{
	font-size: 3em;
}

.singleImageArea
{
	min-height: 7em;
	margin: 0 auto;	
	width: 65%;
}

.singleImageArea img
{
	border: solid 0.5em rgba(0, 0, 0, 0);
	border-radius: 4em;
	width: 107%;
}

.centered
{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
}

.extraTopMarginSpace
{
	margin-top: 5em;
}

/* Flex display classes */

.differentSizeContentWrapper
{
	display: flex;
}

.majorityWidthContent
{
	flex: 0 0 65%;
	min-height: 15em;
}

.minorityWidthContent
{
	flex: 0 0 25%;
	min-height: 15em;
	margin-right: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
}


/*Slick carousel classes*/
.imageCarousel1, .imageCarousel2, .imageCarousel3
{
	width: 32em;
}
.carouselImage
{
	border: solid 0.5em rgba(0, 0, 0, 0);
	border-radius: 4em;
}

.slick-prev, .slick-next
{
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 75%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border: none;	
    outline: none;
    background-color: rgba(224, 224, 224, 0.90);
}
.slick-prev:hover, .slick-next:hover
{
	background-color: #b11a21;
}

.slick-prev
{
	border-left: 2px solid #b11a21;
	border-radius: 30px 0 0 30px;
    left: -12px;
	color: #b11a21;
	font-size: 30px;
}

.slick-next
{
	border-right: 2px solid #b11a21;
	border-radius: 0 30px 30px 0;
    right: -16px;
	color: #b11a21;
	font-size: 30px;
}

.slick-prev:hover, .slick-next:hover
{
	color: #e0e0e0;
}

/*Media Queries*/
@media only screen and (max-width: 1700px)
{
	.majorityWidthContent
	{
		flex: 0 0 55%;
	}
	
	.minorityWidthContent
	{
		flex: 0 0 20%;
	}
}

@media only screen and (max-width: 1500px)
{
	.singleImageArea
	{
		width: 15em;
	}
	
	.majorityWidthContent
	{
		flex: 0 0 50%;
	}
	
	.minorityWidthContent
	{
		flex: 0 0 15%;
	}
	
	.midInternalContentArea
	{	
		width: 85%;
	}
}

@media only screen and (max-width: 1200px)
{
	.singleImageArea
	{
		width: 13em;
	}
	
	.majorityWidthContent
	{
		flex: 0 0 45%;
		min-height: 15em;
	}
	
	.minorityWidthContent
	{
		flex: 0 0 15%;
	}
	
	.midInternalContentArea
	{	
		width: 90%;
	}
	
	.carouselImage
	{
		width: 95%;
	}
	
	.imageCarousel1, .imageCarousel2, .imageCarousel3
	{
		width: 20em;
	}
}

@media only screen and (max-width: 900px)
{	
	.imageCarousel1, .imageCarousel2, .imageCarousel3
	{
		width: 16em;
	}
}

@media only screen and (max-width: 600px)
{
	.rectangularButton
	{
		min-width: 40%;
	}
	
	.midInternalContentArea
	{	
		width: 95%;
	}	
}

@media only screen and (max-width: 500px)
{
	.rectangularButton
	{
		min-width: 97.5%;
	}
	
	.differentSizeContentWrapper
	{
		display: block;
	}
	
	.midInternalContentArea
	{	
		width: 85%;
	}
	
	.imageCarousel1, .imageCarousel2, .imageCarousel3
	{
		margin: 0 auto;
	}	
	
	.embeddedResume
	{
		height: 32em;
	}
}

